@import "constants";

.offers-carousel-item {
  height: 24.0625rem;
  padding: 3rem 4.0625rem 1.875rem;
  background-position: center center;
  background-size: cover;

  &__title,
  &__description {
    color: $white-color;
    font-weight: 700;
    line-height: 28px;
  }

  &__description {
    margin-top: 1.5rem;
    font-size: 25px;
  }

  &__link {
    position: absolute;
    right: 4.0625rem;
    bottom: 1.875rem;
  }

  @media screen and (max-width: $small-screen) {
    height: 16rem;
    padding: 1rem;
  }
}
