@import "constants";

.recent-searches-item {
  width: 15.125rem;
  height: 4.3125rem;
  margin: 1rem 1.25rem 1rem 0;
  padding: 1rem 1.1875rem;
  cursor: pointer;

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title,
  &__subtitle {
    font-weight: 500;
    line-height: 22px;
  }

  &__subtitle {
    margin-top: 0.5rem;
    color: $dim-grey-color;
    font-size: 14px;
    font-family: $secondary-font;
  }

  @media screen and (max-width: $small-screen) {
    width: 10rem;
    height: 4rem;
    margin: 1rem 1rem 1rem 0;
    padding: 1rem;
  }
}
