@import "constants";

.recent-views-item {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 29.5625rem;
  height: 9.3125rem;
  margin: 1rem 1.25rem 1rem 0;

  &__image {
    width: 9.3125rem;
    object-fit: cover;
  }

  &__info {
    padding: 1.3125rem 1.0625rem 0.625rem 0.875rem;
  }

  &__title {
    font-weight: 500;
    line-height: 22px;
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    display: -webkit-box;
    width: 80%;
    margin-top: 0.625rem;
    overflow: hidden;
    color: $dim-grey-color;
    font-weight: 400;
    font-family: $secondary-font;
    line-height: 22px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__rating {
    position: absolute;
    right: 1.0625rem;
    bottom: 0.625rem;
  }

  @media screen and (max-width: $small-screen) {
    width: 15rem;
    height: 6rem;
    margin: 1rem 1rem 1rem 0;

    &__image {
      width: 6rem;
    }

    &__info {
      padding: 0.5rem;
    }

    &__subtitle {
      display: none;
    }
  }
}
