@import "constants";

.auth-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;

  &__link {
    margin-left: 0.625rem;
  }

  &__avatar {
    margin-left: 1.875rem;
  }

  &__username {
    margin-left: 0.8125rem;
    color: $white-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
}
