@import "constants";

.header {
  padding: 1.5625rem 0 2px;
  background-color: $orange-color;
}

.nav {
  display: flex;
  flex-direction: row;

  &__logo {
    color: $white-color;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
  }
}
