@import "constants";

.aside-search-form-wrapper {
  margin-bottom: 1.875rem;
  padding: 1.25rem 1.6875rem;
  font-size: 14px;
  background-color: $orange-color;

  .aside-search-form {
    &__label {
      color: $white-color;
      font-family: $secondary-font;
    }

    &__button {
      width: 100%;
      margin-top: 1.6875rem;
      padding: 0.7188rem 0;
    }
  }
}
