@import "constants";
@import "mixins";

.guests-modal-wrapper {
  flex-grow: 1;
}

.guests-modal {
  padding: 2rem;

  &__input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  &__quantity-label {
    align-self: center;
  }
}
