@import "constants";

.search-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
  padding: 0.3125rem 3.3125rem;
  background-color: $white-color;

  &__divider {
    margin-right: 3.3125rem !important;
  }

  @media screen and (max-width: $small-screen) {
    padding: 0.3125rem 0.3rem;

    &__divider {
      margin: 0 0.5rem !important;
    }
  }
}
