@import "constants";

.button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  }

  &_medium {
    width: 5.9375rem;
    height: 3.125rem;
    font-size: 14px;
  }

  &_large {
    padding: 1rem 1.5rem;
    font-weight: 600;
    line-height: 22px;
    border-radius: 4px;
  }

  &_white {
    background-color: $white-color;
  }

  &_orange {
    color: $white-color;
    background-color: $orange-color;
  }

  &_red {
    color: $white-color;
    background-color: $red-color;
  }

  &_red-outlined {
    color: $red-color;
    background-color: transparent;
    border: 1px solid $red-color;
  }

  &_grey-outlined {
    color: rgb(0 0 0 / 70%);
    border: 1px solid rgb(0 0 0 / 50%);
  }

  &_black-outlined {
    color: $black-color;
    background-color: transparent;
    border: 1px solid $black-color;
  }

  &_disabled {
    color: rgb(0 0 0 / 50%);
    cursor: default;

    &:hover {
      box-shadow: none;
    }
  }

  &_rounded {
    border-radius: 10px;
  }

  &_full-width {
    width: 100%;
  }

  &_icon {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%);
  }
}
