@import "constants";

.quantity-picker {
  display: flex;
  align-items: center;
  border: 1px solid $grey-color;
  border-radius: 3px;

  &__modifier,
  &__display {
    outline: none;
    user-select: none;
  }

  &__modifier {
    flex-shrink: 1;
    width: 3rem;
    height: 100%;
    font-size: 1.5rem;
    text-align: center;

    &:hover {
      box-shadow: none !important;
    }
  }

  &__display {
    flex-shrink: 1;
    width: 4rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    border: 0;
    pointer-events: none;
  }
}
