$main-font: "DM Sans";
$secondary-font: "Mulish";
$black-color: #000;
$white-color: #fff;
$orange-color: #e6a064;
$grey-color: #dfdfdf;
$dim-grey-color: #404040;
$light-green-color: #64b657;
$red-color: #f00;
